<div id="sidebarExtent" class="d-none">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">Extent Selector</h5>
        <button class="close-btn" onclick="closeSidebar()">&times;</button>
    </div>

    <hr>


    <ul class="nav nav-tabs" id="extentTab" role="tablist">
        {{ range $index, $item := .Site.Params.menus.extents }}
        <li class="nav-item" role="presentation">
            <button id="{{ lower $item.Name | urlize }}-tab" class="nav-link {{ if eq $index 0 }}active{{ end }}"
                data-bs-toggle="tab" data-bs-target="#{{ lower $item.Name | urlize }}" type="button" role="tab"
                aria-controls="{{ lower $item.Name | urlize }}"
                aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
                {{ if $item.icon }}
                <i class="{{ $item.icon }} me-2"></i>
                {{ end }}
                {{ $item.Name }}
            </button>
        </li>
        {{ end }}
    </ul>

    <div id="extentTabContent" class="tab-content mt-3">
        <div id="admin-boundary" class="tab-pane fade show active" role="tabpanel" aria-labelledby="admin-boundary-tab">
            <div class="row g-3 m-2">
                <select id="admin-level-selector" class="form-select">
                    <option selected disabled>Select level</option>
                    <option id="admin-level-1" value="1">Province</option>
                    <option id="admin-level-2" value="2">District</option>
                    <option id="admin-level-3" value="3">Divisional Secretry Division</option>
                    <option id="admin-level-4" value="4">Grama Niladhari Division</option>
                </select>

                <div id="admin-selector" class="col-md-6 py-3 d-none">
                    <label id="admin-selector-label" for="" class="form-label"></label>
                    <button type="button" id="" class="btn btn-outline-secondary dropdown-toggle w-100"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="admin-selector-btn"><i class="bi bi-check2-square me-2"></i>Choose</span>
                    </button>
                    <ul id="admin-selector-dropdown" class="dropdown-menu">
                        <!-- Populate dynamically -->
                    </ul>
                </div>

                <div id="admin-selector2" class="col-md-6 d-none">
                    <label id="admin-selector-label2" for="" class="form-label"></label>
                    <button type="button" id="" class="btn btn-outline-secondary dropdown-toggle w-100"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="admin-selector-btn2"><i class="bi bi-check2-square me-2"></i>Choose</span>
                    </button>

                    <ul id="admin-selector-dropdown2" class="dropdown-menu">
                        <!-- Populate dynamically -->
                    </ul>
                </div>
            </div>
        </div>

        <div id="tile-number" class="tab-pane fade" role="tabpanel" aria-labelledby="tile-number-tab">
            <div class="row g-3 m-2">
                <button type="button" id="" class="btn btn-outline-secondary dropdown-toggle w-100"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span id=""><i class="bi bi-check2-square me-2"></i>Choose</span>
                </button>
                <ul id="tile-selector-dropdown" class="dropdown-menu">
                    {{ range seq 1 92 }}
                    <li class="dropdown-item">
                        <label class="checkbox">
                            <input type="checkbox" value="{{ . }}" wfd-id="id{{ . }}">{{ . }}
                        </label>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <button id="extent-selecter-save" class="btn btn-primary position-absolute bottom-0 end-0 m-2">
        <i class="bi bi-floppy2-fill me-2"></i>Save
    </button>

</div>