<div id="sidebarProduct" class="d-none">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">Product Selector</h5>
        <button class="close-btn" onclick="closeSidebar()">&times;</button>
    </div>

    <hr>

    <ul class="nav nav-tabs" id="productTab" role="tablist">
        {{ range $index, $item := .Site.Params.menus.products }}
        <li class="nav-item" role="presentation">
            <button id="{{ lower $item.Name | urlize }}-tab" class="nav-link {{ if eq $index 0 }}active{{ end }}"
                data-bs-toggle="tab" data-bs-target="#{{ lower $item.Name | urlize }}" type="button" role="tab"
                aria-controls="{{ lower $item.Name | urlize }}"
                aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
                {{ if $item.icon }}
                <i class="{{ $item.icon }} me-2"></i>
                {{ end }}
                {{ $item.Name }}
            </button>
        </li>
        {{ end }}
    </ul>

    <div id="productTabContent" class="tab-content mt-3">
        {{ range $index, $product := .Site.Params.menus.products }}
        <div id="{{ lower $product.Name | urlize }}" class="tab-pane fade {{ if eq $index 0 }}show active{{ end }}"
            role="tabpanel" aria-labelledby="{{ lower $product.Name | urlize }}-tab">
            <div class="row g-3">
                {{ range $dataset := $product.datasets }}
                <div class="col-12 col-md-6">
                    <div class="form-check border p-3 rounded h-100">
                        <input class="form-check-input" type="radio" name="dataset-{{ lower $product.Name | urlize }}"
                            id="{{ $dataset.id | urlize }}" value="{{ $dataset.id }}" productaoitype="{{ $dataset.aoi_type }}">
                        <label class="form-check-label" for="{{ $dataset.id | urlize }}">
                            <strong>{{ $dataset.name }}</strong><br>
                            <small class="text-muted">{{ $dataset.description }}</small>
                        </label>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>




    <button id="product-selecter-save" class="btn btn-primary position-absolute bottom-0 end-0 m-2">
        <i class="bi bi-floppy2-fill me-2"></i>Save
    </button>

</div>