<div id="sidebarProduct" class="d-none">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">Product Selector</h5>
        <button class="close-btn" onclick="closeSidebar()">&times;</button>
    </div>

    <hr class="w-100">

    <ul class="nav nav-tabs" id="productTab" role="tablist">
    </ul>

    

    <div class="border-top d-flex"
        style="position: absolute; bottom: 0; left: 0; right: 0; padding: 0.5rem 1rem; justify-content: start; gap: 0.5rem;">

        <button id="product-selecter-save" class="btn btn-secondary d-flex align-items-center p-0">
            <span class="px-3 py-1 border-end">
                <i class="bi bi-x-lg"></i>
            </span>
            <span class="px-3 py-1">Close</span>
        </button>

        <button id="product-selecter-next" class="btn btn-primary d-flex align-items-center p-0 disabled">
            <span class="px-3 py-1 border-end">
                <i class="bi bi-bounding-box-circles"></i>
            </span>
            <span class="px-3 py-1">Next</span>
        </button>
    </div>

</div>