<div id="sidebarProduct" class="d-none">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">Product Selector</h5>
        <button class="close-btn" onclick="closeSidebar()">&times;</button>
    </div>

    <hr class="w-100">

    <ul class="nav nav-tabs" id="productTab" role="tablist">
    </ul>

    <div id="productTabContent" class="tab-content mt-3">
    </div>

<div style="height: 100px;">
    <hr class="position-absolute end-0" style="bottom: 3rem; width: 100%;">
    <button id="product-selecter-save"
            class="btn btn-primary position-absolute bottom-0 end-0 m-2 d-flex align-items-center p-0">
        <span class="px-3 py-1">Goto Extent</span>
        <span class="px-3 py-1 border-start" style="border-color: currentColor;">
            <i class="bi bi-bounding-box-circles"></i>
        </span>
    </button>
</div>



</div>