
// #productTabContent{
//     .form-check-input:checked {
//         background-color: #1dd200 !important;
//         border-color: transparent !important;
//     }

//     .form-check-input {
//         border-color: #0083d2 !important;
//     }

// }

.dataset-meta {
  font-size: 0.8rem;  /* smaller text */
}
.dataset-meta i {
  font-size: 0.9em;   /* smaller icons */
}
.dataset-meta .badge {
  font-size: 0.7em;   /* smaller badge text */
  padding: 0.1em 0.4em 0.15em 0.4em; /* smaller padding */
}

.dataset-meta button{
    font-size: 0.9em;
}