

<nav id="navbar" class="sidebar d-flex flex-column flex-shrink-0 position-fixed border-1 border-right shadow-sm">
    <button class="toggle-btn" onclick="toggleNavbar()">
        <i class="bi bi-chevron-left"></i>
    </button>

    <div class="p-3 align-items-center">
        <h4 class="logo-text fw-bold mb-0">OpenGIS LK</h4>
        <p class="text-muted small hide-on-collapse">The geospatial catalog of LK</p>
    </div>

    <div class="nav flex-column">
        <section>
            <h6 class="text-left border-1 border-bottom border-top py-1 px-3">
                <i class="bi bi-filter"></i><span class="hide-on-collapse mx-1">Topics</span> 
            </h6>

            <nav aria-label="Topics">
                <ul id="topics-list" class="nav flex-column">
                    <!-- JS will populate here -->
                </ul>
            </nav>
        </section>
    </div>

    <!-- GitHub Footer -->
    <div id="navbar-footer" class="mt-auto px-3 py-2 border-top small text-center">
        <a href="https://github.com/thiwaK/open-gis-lk" target="_blank" class="text-decoration-none">
            <i class="bi bi-github me-2"></i>View on GitHub
        </a>
    </div>
</nav>



<script>
    const navbar = document.getElementById('navbar');

    {{/*  function adjustMapSize() {

        const mapDiv = document.getElementById('map');

        const navbarWidth = navbar.offsetWidth;
        mapDiv.style.marginLeft = `${navbarWidth}px`;
        mapDiv.style.width = `calc(100% - ${navbarWidth}px)`;

        if (window.map) window.map.invalidateSize();
    }  */}}

    function toggleNavbar() {
        document.querySelector('.sidebar').classList.toggle('collapsed');
        const link = document.querySelector('#navbar-footer a');
        if (link) {
            if (link.textContent.includes('View on GitHub')) {
                link.innerHTML = '<i class="bi bi-github me-2"></i>';
            } else {
                link.innerHTML = '<i class="bi bi-github me-2"></i>View on GitHub';
            }
        }



        // setTimeout(adjustMapSize, 310); // Wait for CSS transition to finish
    }

    {{/*  window.addEventListener('load', adjustMapSize);
    window.addEventListener('resize', adjustMapSize);  */}}
</script>