<!-- Overlay -->
<div id="overlay" class="overlay" onclick="closeSidebar()"></div>

<!-- Slide-in sidebar -->
<div id="sidebar" class="slide-in p-4">
    {{ partial "sidebar/extent.html" . }}
    {{ partial "sidebar/product.html" . }}
</div>

<!-- help -->
{{ partial "sidebar/help.html" . }}


<script>
    // show-hide sidebar
    //TODO: add `Download` to the array
    const contents = ['Extent', 'Product'];
    function openSidebar(content) {

        /*console.log(content);
        if ("Extent" === content){
            if (document.config.product.id == null){
                alert("Select a product first");
                return;
            }
        }*/
        
        document.getElementById('sidebar').classList.add('show');
        document.getElementById('overlay').classList.add('show');
        
        contents.forEach(item => {
            if (item === content){
                document.getElementById(`sidebar${item}`).classList.remove('d-none');
            } else {
                document.getElementById(`sidebar${item}`).classList.add('d-none');
            }
            
        });
        
        
    }
    function closeSidebar() {
        document.getElementById('sidebar').classList.remove('show');
        document.getElementById('overlay').classList.remove('show');
        contents.forEach(item => {
            document.getElementById(`sidebar${item}`).classList.add('d-none');
        });
    }
</script>