{{ define "main" }}


  <div class="row p-0 m-0 flex-nowrap vh-100">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 p-0">
        {{ partial "new_navbar.html" . }}
      </div>

      <!-- Catalog (scrollable) -->
      <div class="col-md-6 col-lg-6 p-3 d-flex flex-column" style="height: 100vh;">
        <h4 class="text-center fw-bold mb-3">Product Catalogue</h4>

        <div id="productTabContent" class="tab-content mt-3 flex-grow-0"
          style="align-items: stretch;align-items: stretch;">
          <!-- dataset cards will render here -->
        </div>
      </div>

      <!-- Map -->
      <div class="col-md-3 col-lg-4 p-0" style="height: 100vh; position: sticky; top: 0;">
        <div id="dataset-map" class="h-100">
          <div id="map" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
  </div>


  <!-- Loading Overlay -->
  <div id="loading-overlay" class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-50" style="z-index: 10000; display: none;">
    <div class="text-center text-white">
      <div class="spinner-border text-light mb-3" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div>Loading, please wait...</div>
    </div>
  </div>

  <!-- webgl warn -->
  <div id="webgl-warning" class="d-flex justify-content-center py-5 d-none">
      <div class="card text-danger border-danger bg-danger-subtle text-danger-emphasis">
          <div class="card-header align-content-between justify-content-center fs-5">
            <i class="fa-solid fa-exclamation-triangle-fill"></i> Error
          </div>
          <div class="card-body">
          <h5 class="card-title">WebGL is not supported or is disabled in your browser</h5>
          <p class="card-text">Please enable it or switch to a compatible browser.</p>
          {{/*  <a href="#" class="btn btn-danger bg-danger-emphasis">OK</a>  */}}
          </div>
      </div>
  </div>

  <script>
    const canvas = document.createElement("canvas");
    const gl = canvas.getContext("webgl") || canvas.getContext("experimental-webgl");
    {{/*  if (!gl) {
      document.getElementById("webgl-warning").classList.remove("d-none");
    }  */}}
  </script>

  <!-- sidebar -->
  {{ partial "sidebar.html" . }}

  <!-- scripts -->
  {{ partial "scripts.html" . }}
  
{{ end }}